main {
    margin: auto;
    /* background-color: gray; */
    width: 1240px;
    min-height: 1150px;
    display: flex;
    align-items: center; /* 하위 요소들 수직 가운데 정렬 */
    position: relative;
    flex-direction: column;
}
#MainContainer {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 1240px;
    display: flex;
    justify-content: center;
    min-height: 1050px;
}
#SubContainer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    max-height: 1000px;
    width: 1140px;
    box-shadow: 0px 2px 13px -5px #555555;
    border-style: none;
    position: relative;
    top: 50px;
}
main h5 {
    margin-top: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
/* 마이페이지 매뉴*/
.menu {
    width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-link {
    color: #707070;
    font-weight: 600;
}
.nav-link:hover {
    text-decoration: none;
    color: transparent;
    background: linear-gradient(71deg, rgb(47, 114, 214) 34%, rgba(102,102,255,1) 49%, rgb(99, 70, 216) 64%);
    -webkit-background-clip: text;
    background-clip: text;
}
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 3px;
}
.nav-item:hover .nav-link {
    color: transparent;
    background: linear-gradient(71deg, rgb(47, 114, 214) 34%, rgba(102,102,255,1) 49%, rgb(99, 70, 216) 64%);
    -webkit-background-clip: text;
    background-clip: text;
}
.nav-item-icon img {
    width: 20px;
    height: 20px;
}
.selected {
    background: linear-gradient(71deg, rgba(229,240,255,1) 0%, rgba(245,235,255,1) 84%, rgba(255,233,233,1) 100%);
    border-radius: 10px;
}
.selected .nav-link {
    color: transparent;
    background: linear-gradient(71deg, rgb(47, 114, 214) 34%, rgba(102,102,255,1) 49%, rgb(99, 70, 216) 64%);
    -webkit-background-clip: text;
    background-clip: text;
}
.divider {
    border-width: 0px;
    border-left-width: 1px;
    border-color:#707070;
    border-style: solid;
    height: 40px;
    position: relative;
    top: 14px;
}
/* ---------------- 회원정보 CSS ---------------------- */
#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: 1px;
    padding: 30px;
    margin-top: 40px;
}
/* 프로필 사진 */
.profile-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: contain;
    border-style: solid;
    border-width: 2px;
    border-color:#dfdfdf;
    cursor: pointer;
}
#profile-explanation {
    margin-bottom: 50px;
}
.user-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-bottom: 25px;
}
#user-nickname {
    width: 200px;
    text-align: right;
}
/* Placeholder 크기 강제조정 */
::-webkit-input-placeholder {
    font-size: 11px !important;
 }
.searchbox::-webkit-input-placeholder {
    font-size: 16px !important;
 }
.item-header {
    font-size: 15px;
    font-weight: 600;
    margin-right: auto;
}
.item-contents {
    margin-left: 10px;
}
#email-verify-btn {
    font-size: 13px;
}
#delete-account-btn {
    font-size: 13px;
}
.modify-btn {
    font-weight: 600;
    width: 70px;
}
/* --------------- 게시글 관리 CSS -------------- */
#post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin-top: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: 1px;
    padding: 20px;
    height: 770px;
}
#category-select {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 40px;
}
.divider-small {
    border-width: 0px;
    border-left-width: 1px;
    border-color:#707070;
    border-style: solid;
    height: 25px;
    position: relative;
    top: 6px;
    margin-right: 10px;
    margin-left: 10px;
}
.post-header {
    display: flex;
    flex-direction: row;
    width: 640px;
    margin-bottom: 10px;
    align-items: center;
}
.post-header-icon {
    width: 20px;
    height: 20px;
}
.divider-xsmall {
    border-width: 0px;
    border-left-width: 1px;
    border-color:#707070;
    border-style: solid;
    height: 25px;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}
.select-option-btn {
    font-size: 13px;
    margin-right: 10px;
}
#post-delete-btn {
    margin-left: auto;
}
.post-sort-dropdown {
    margin-left: auto;
}
#post-sort-dropdown-btn {
    margin-right: 15px;
}
.select-btn {
    padding: 5px;
    cursor: pointer;
}
.pushed {
    background: linear-gradient(71deg, rgba(229,240,255,1) 0%, rgba(245,235,255,1) 84%, rgba(255,233,233,1) 100%);
    border-radius: 10px;
    font-weight: 600;
}
.select-icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
#talk-post-info {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#sales-post-info {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#saved-post-info {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.talk-table-title {
    font-size: 18px;
    font-weight: 600;
}
.post-card {
    display: flex;
    flex-direction: column;
    width: 640px;
    font-size: 14px;
    color:#707070;
    padding: 5px;
}
.divider-horizontal {
    width: 640px;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-top-color: #dfdfdf;
}
.divider-horizontal-end {
    width: 640px;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-top-color: #dfdfdf;
}
.post-title {
    /* 제목 텍스트 길어지면 잘리는거 위한 코드 */
    width: 500px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.best-post {
    margin-left: 8px;
    position: relative;
    bottom: 3px;
    width: 14px;
    height: 14px;
}
.post-checkbox {
    position: relative;
    bottom: 20px;
    margin-left: auto;
    padding: 0px;
}
/* 전체 기간 글씨 박스 크기 조정.  */
.modal-body .form-check {
    width: 200px;
    cursor: default;
}
.form-check-input {
    border-color: #4291db;
    border-width: 1px;
}
.more-menu-btn {
    position: relative;
    bottom: 20px;
    padding: 0px;
    background-color: transparent;
    width: 18px;
    height: 18px;
    margin-left: auto;
    border-style: none;
}
.more-menu-icon {
    width: 18px;
    height: 18px;
}
.post-detail {
    display: flex;
    flex-direction: row;
    width: 630px;
    font-size: 13px;
    margin-top: 2px;
}
.post-detail-icon {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    position: relative;
    bottom: 1px;
}
.post-heart-count {
    margin-left: 7px;
}
/* 검색창 부분 */
.search-dropdown-btn {
    margin-right: 4px;
    position: relative;
    bottom: 2px;
}
.post-search {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.calendar-btn {
    width: 31px;
    height: 31px;
    position: relative;
    bottom: 2px;
    padding: 4px;
    margin-right: 10px;
    background-color: #313131;

}
.calendar-btn img {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 3px;
}
/* 모달 창 날짜 */
.period-window {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.period {
    width: 140px !important;
    margin-right: 8px;
    margin-left: 15px;
}
.post-search .form-control {
    border-color: #999999;
    width: 250px;
    height: 36px;
}
.post-search-btn {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    border-style: none;
    background-color: transparent;
}
.post-search-btn img {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 8px;
}
.post-pagination {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* 내가 작성안 I*Talk 게시글은 좋아요 부터 시작하므로 여백 없애줌. */
.start {
    margin-left: 0px;
}
.post-reply-count {
    margin-left: 7px;
}
.post-view-count {
    margin-left: 7px;
}
.post-regdate {
    margin-left: auto;
}
.sales-status-badge {
    margin-right: 5px;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    bottom: 2px;
    font-weight: 600;
}
.reserved {
    background-color: #77c4bd;
    color: black;
}
.sold-out {
    background-color: #dfdfdf;
    color: #727272;
}
/* ----------- 댓글 관리 CSS -------------- */
#comment-info-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin-top: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: 1px;
    padding: 20px;
    height: 770px;
}
.comment-header {
    display: flex;
    flex-direction: row;
    width: 640px;
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
}
.comment-header-icon {
    width: 20px;
    height: 20px;
}
.comment-table-title {
    font-size: 18px;
    font-weight: 600;
}
.comment-card {
    display: flex;
    flex-direction: column;
    width: 640px;
    font-size: 14px;
    color:#707070;
    padding: 5px;
}
.comment-contents {
    /* 텍스트 길어지면 잘리는거 위한 코드 */
    width: 550px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
.comment-checkbox {
    position: relative;
    bottom: 20px;
    margin-left: auto;
    padding: 0px;
}
.comment-detail {
    display: flex;
    flex-direction: row;
    width: 630px;
    font-size: 13px;
    margin-top: 2px;
}
.comment-detail-icon {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    position: relative;
    bottom: 1px;
}
.comment-unheart-count {
    margin-left: 8px;
}
.post-title-icon {
    width: 15px;
    height: 15px;
    margin-left: 8px;
    margin-right: 4px;
    position: relative;
    bottom: 1px;
}
.comment-regdate {
    margin-left: auto;
}
.comment-search {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.comment-search .form-control {
    border-color: #999999;
    width: 250px;
    height: 36px;
}
.comment-search-btn {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    border-style: none;
    background-color: transparent;
}
.comment-search-btn img {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 8px;
}
/* -------------- 알림 관리 CSS ---------- */
#noti-info-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
    margin-top: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: 1px;
    padding: 20px;
    height: 770px;
}
.noti-switches {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-top: 30px;
    justify-content: space-around;
}
.notification-header {
    display: flex;
    flex-direction: row;
    width: 470px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}
.notification-header-icon {
    width: 20px;
    height: 20px;
}
#notification-count {
    font-size: 14px;
}
.notification-table-title {
    font-size: 17px;
    font-weight: 600;
}
.notification-area {
    width: 465px;
    height: 580px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: unset;
}
.notification-divider-horizontal {
    width: 450px;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-top-color: #dfdfdf;
}
.notification-divider-horizontal-end {
    width: 450px;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-top-color: #dfdfdf;
}
.notification-card {
    display: flex;
    flex-direction: column;
    height: 93px;
    width: 450px;
    padding: 6px;
    padding-top: 3px;
    padding-left: 10px;
}
.notification-card:hover {
    background-color: #f8f8f8;
}
/* 안 읽은 알림 배경색 지정 */
.unread-noti {
    background: #f6f4ff
}
.unread-noti:hover {
    transition-duration: 0.2s;
    background: #f4ebff;
}
.notification-title {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 600;
}
.notification-title-icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.notification-contents {
    width: 410px;
    font-size: 13px;
    display:-webkit-box; /* 줄 길어지면 ... 생기게 하기 위한 코드 */
    -webkit-line-clamp: 2;     /* 텍스트 줄 수 자르는 단위 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notification-detail {
    display: flex;
    flex-direction: row;
}
.notification-regdate {
    margin-left: auto;
    font-size: 12px;
}