main {
    margin: auto;
    /* background-color: gray; */
    width: 1240px;
    min-height: 1080px;
    display: flex;
    align-items: center; /* 하위 요소들 수직 가운데 정렬 */
    position: relative;
    flex-direction: column;
}
main nav {
    z-index: 3;
}
h4 {
    margin-top: 50px;
}
/* 굵은 가로줄 설정 */
.title-divider {
    border: 0px;
    height: 3px;
    background: #0e3296;
}
.post-area {
    display: flex;
    flex-direction: column;
    width: 1000px;
}
/* 작성자/날짜 정보들 나오는 곳 */
.post-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.post-header span {
    margin-left: 12px;
}
.post-header a {
    color: black;
}
/* 세로줄 설정 */
.divider {
    height: 24px;
    border-left: solid #7a7a7a;
    border-left-width: 1px !important;
    margin: 0px;
}
.divider-end {
    height: 24px;
    border-left: solid #7a7a7a;
    border-left-width: 1px !important;
    margin: 0px;
}
#idolname {
    margin-left: auto;
    color: black;
}
#price {
    color: cornflowerblue;
    font-weight: 600;
}
/* 추천/비추천 영역 */
.heart-unheart {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.heart-unheart span {
    margin-left: 12px;
}
#heart-cnt {
    margin-top: 3px;
    font-weight: 600;
}
#unheart-cnt {
    margin-top: 3px;
    font-weight: 600;
}
#heart {
    width: 30px;
    cursor: pointer;
}
#unheart {
    width: 30px;
    cursor: pointer;
}
/* 긴 세로줄 설정 */
.divider-long {
    height: 30px;
    border-left: solid #7a7a7a;
    border-left-width: 1px !important;
    margin: 0px;
}
/* 공유/신고 기능 */
.misc-function {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.misc-function span {
    margin-left: 12px;
}
#share {
    cursor: pointer;
}
#report {
    cursor: pointer;
}
#backtolist-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: #d1d1d1;
    height: 30px;
}
/* 댓글 영역 */
.reply-area {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 1000px;
    font-size: 14px;
}
/* 총 댓글수 및 댓글 표시 방법 */
.filtering {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#comment-cnt {
    font-weight: 600;
    color: #1e53c5;
    margin-right: 10px;
    padding-top: 4px;
}
.btn-secondary {
    background-color: transparent;
    color: black;
}
.dropdown-menu > .dropdown-item {
    font-size: 13px;
}
.comment-divider {
    margin: 7px;
}
.show-comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.show-comment span {
    margin-left: 5px;
}
.user-nickname {
    cursor: pointer;
}
.comment-contents {
    /* 댓글 표시 영역 크기 조정 */
    width: 700px;
    padding-left: 70px;
    padding-top: 1px;
}
.regdate {
    margin-left: auto !important;
    font-size: 12px;
    color: #7a7a7a;
}
.comment-heart-button {
    margin-left: 16px !important;
}
#comment-heart {
    width: 14px;
    cursor: pointer;
}
#comment-unheart {
    width: 14px;
    cursor: pointer;
}
/* 댓글 오른족 여백 안 맞는거 살짝 조정 */
.comment-unheart-cnt {
    margin-right: 5px;
}
.write-comment {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
#comment-input {
    min-height: 100px;
    max-height: 100px;
    border-color: #b4b4b4;
    width: 870px;

}
.write-button {
    height: 100px;
    width: 100px;
    font-size: 16px;
    background-color:#9c9c9c;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-style: none;
    margin-right: 4px;
}
/* 반응형 모바일 디자인용 (추후에 수정) */
@media (max-width: 768px) {

}